.drawerContainer {
  z-index: 2;
  position: fixed;
  bottom: 0;
  flex-grow: 1;
  display: block;
  /* background-color: #d5d8df; */
  background-color: white;
  width: 100%;
  height: 35%;
  min-height: 250px;
  position: absolute;
  border-radius: 20px 20px 0 0;
  overflow: hidden;
  animation-name: pull-up;
  animation-duration: .5s;
  /* border-style: solid; */
  /* border-width: 1px; */
}

.react-tabs {
  height: 100%;
}

.bucketGrid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-template-areas: 'form color';
}

.formSize {
  align-self: center;
  text-align: justify;
  /* position: absolute; */
  /* top: 18%;
  left: 5%; */
  display: flex;
  flex-direction: column;
  align-content: center;
  max-width: 45vw;
  margin: 0.5em;
  /* margin-top: 1em; */
  grid-area: form;
}

.bucketDrawerLabel {
  font-size: small;
}

.bucketDrawerInput {
  width: 100%;
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: start;
}

.xBox {
  color: rgb(0, 0, 0);
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: large;
  font-weight: bold;
  text-align: center;
  width: 40px;
  height: 40px;
  top: 70%;
  left: 20%;
  position: absolute;
  cursor: pointer;
}

.check {
  height: 40px;
  width: 40px;
  top: 70%;
  left: 70%;
  position: absolute;
  cursor: pointer;
}

.tabPosition {
  background-color: #d5d8df;
  display: flex;
  padding: 0;
  margin: 0;
}

.tabPosition li {
  flex-grow: 1;
}

li.react-tabs__tab {
  background-color: #d5d8df;
  border: none;
  border-radius: 15px 15px 0 0;
  bottom: 0;
}

li.react-tabs__tab--selected {
  /* background-color: #d5d8df; */
  background-color: white;
}

.react-tabs__tab-panel {
  /* display: flex; */
  /* align-content: center; */
  align-items: center;
  height: 100%;
}

.colorGroup {
  grid-area: color;
  align-self: center;
  z-index: 2;
  /* position: absolute; */
  top: 25%;
  left: 60%;
}

.circlePicker {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 14px 0 0 14px;
}

.circle {
  border: 1px solid;
  border-radius: 50%;
  width: 35px;
  height: 35px;
}

@keyframes pull-up {
  0%   {bottom: -35%}
  100% {bottom: 0}
}