:root {
  --swiper-theme-color: #19b419;
}

html, body {
  height: 100%;
  font-size: 18px;
}

#root {
  height: 100%;
}

.container {
  flex-grow: 1;
  display: flex;
  /* height: 100%; */
  background-color: #484f5e;
}

.header-container {
  z-index: 1;
  display: flex;
  height: 60px;
  width: 100%;
  background-color: #282c34;
  box-shadow: black 0 2px 14px 2px;
  align-items: center;
  justify-content: space-between;
}

.header-title {
  color: white;
  font-size: 1.7rem;
}

.swiper-container {
  margin: auto;
}

.swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
  background: #fff;
  opacity: .2;
}

.fab {
  z-index: 1;
  position: fixed;
  width: 45px;
  height: 45px;
  line-height: 45px;
  font-size: 24px;
  border-radius: 50%;
  align-content: center;
  background-color: white;
  border: none;
  box-shadow: black 0 0 8px -4px;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.pos-bottom-right {
  bottom: 20px;
  right: 20px;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
}