.segmented-progress-bar {
  width: 100%;
  text-align: start;
}

.segmented-progress-bar .title {
  font-size: 1.1rem;
  margin-bottom: 5px;
}

.segmented-progress-bar .bars {
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  background-color: #ddd;
}